.loser {
                background-color: rgb(240, 9, 24);
                font-size: large;
                color:rgb(73, 10, 245);
                font-weight: bold;
                padding: 20px; 200px; 
            }
            .container {
                background-color: rgb(0, 255, 136);
                
            }
            .fatty  {
                background-color: rgba(0, 255, 234, 0.76);
                
            }

            .loginBox {
                background-color:yellow;
            }